
@{
    ViewData["Title"] = "_ErrorPage";
    // Layout = null; // "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-white justify-content-center">
    <h1 class="bg-danger"> Page not found !</h1>
</body>
