
@model RhemaCMS.Models.ViewModels.vm_cl.ChurchTransferModel


<div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center" style="width:90%; margin: 0 auto 0 auto ; padding:0;  ">
    <form needs-validation novalidate id="currForm_ReqMT" method="post" enctype="multipart/form-data" asp-action="AddMod_ReqMT" class=" form-group bg-transparent p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.oChurchTransfer != null)
        {
            <input type="hidden" asp-for="oAppGloOwnId" />
            <input type="hidden" asp-for="oChurchBodyId" />
            <input type="hidden" asp-for="oChurchMemberId" />

            <input type="hidden" asp-for="oChurchTransfer.Id" id="_hdnCurrId_MT" />
            <input type="hidden" asp-for="oChurchTransfer.AppGlobalOwnerId" id="_AppGlobalOwnerId" />
            <input type="hidden" asp-for="oChurchTransfer.ChurchBodyId" id="_ChurchBodyId" />


            <input type="hidden" asp-for="oChurchTransfer.RequestorMemberId" id="_hdnRequestorMemberId" />
            <input type="hidden" asp-for="oChurchTransfer.RequestorRoleId" id="_RequestorRoleId" />
            <input type="hidden" asp-for="oChurchTransfer.FromChurchBodyId" id="_hdnChuBodyId" />
            @*<input type="hidden" asp-for="oChurchTransfer.TransferType" id="_TransferType" />*@

            <input type="hidden" asp-for="userRequestTask" id="_userRequestTask" />
            <input type="hidden" asp-for="numTransferDxn" id="_dxn" />
            <input type="hidden" id="_urlSuccessOK" />
            <input type="hidden" asp-for="setIndex" id="_setIndex" />
            <input type="hidden" asp-for="serviceTask" id="_serviceTask" />

            <input type="hidden" asp-for="numTempMemTypeCodeFrCB" />
            <input type="hidden" asp-for="numTempMemTypeCodeToCB" />
            <input type="hidden" asp-for="numTempMemRankIdFrCB" />
            <input type="hidden" asp-for="numTempMemRankIdToCB" />
            <input type="hidden" asp-for="numTempMemStatusIdFrCB" />
            <input type="hidden" asp-for="numTempMemStatusIdToCB" />

            <input type="hidden" asp-for="oChurchTransfer.Created" />
            <input type="hidden" asp-for="oChurchTransfer.LastMod" />
            <input type="hidden" asp-for="oChurchTransfer.CreatedByUserId" />
            <input type="hidden" asp-for="oChurchTransfer.LastModByUserId" />


            <div class="form-row mb-3">
                <div class="col-md">
                    <small asp-for="oChurchTransfer.RequestorChurchBodyId" class="control-label"> Requesting Congregation </small>
                    <input type="text" asp-for="strRequestorChurchBody" class="form-control text-sm " placeholder="Requesting Congregation" readonly />

                    <input type="hidden" asp-for="oChurchTransfer.RequestorChurchBodyId" id="_RequestorChurchBodyId" />
                </div>
            </div>


            <hr style="width:100%; border: 1px solid #b7b5b5" />

            int? _oAGOId = Model.oAppGloOwnId != null ? Model.oAppGloOwnId : -1; //if (Model.oAppGloOwnId != null) { _oAGOId = (int)Model.oChurchBody.AppGlobalOwnerId; };
            int? _oCBId = Model.oChurchBodyId != null ? Model.oChurchBodyId : -1; //if (Model.oChurchBody.Id != -1) { _oCBId = (int)Model.oChurchBody.Id; }

            <div class="form-row  mb-3">
                <div class="col-md-12">
                    @{ var strParFromCBLevelTag = !string.IsNullOrEmpty(Model.strFromChurchLevel) ? "From Congregation (" + Model.strFromChurchLevel + ")" : "From Congregation"; }
                    <small id="_lblFromChurchBody_MT" class="font-weight-normal" asp-for="oChurchBody"> <i class="fas fa-arrow-up text-danger mr-1"></i>  @strParFromCBLevelTag  </small>
                    <div class="input-group">
                        <input id="_strFromChurchBody_par_MT" type="text" class="form-control text-sm text-sm bg-transparent"
                               asp-for="strFromChurchBody" aria-describedby="button-addon2" placeholder="Member-to-Transfer Congregation" disabled />
                        <button class="btn btn-light btn-sm border border-left-0" type="button" id="button-addon2"
                                onclick="ImportTargetCB(@_oAGOId, @_oCBId, '_numFromChurchBodyId_par_MT', '_strFromChurchBody_par_MT', '', '_lblFromChurchBody_MT', 'Parent_Body')">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </div>

                    <input id="_numFromChurchBodyId_par_MT" type="hidden" asp-for="oChurchTransfer.FromChurchBodyId" />
                </div>
            </div>

            <div class="form-row  mb-3" id="divChurchMemberId_MT">
                <div class="col-md">
                    <small asp-for="oChurchTransfer.ChurchMemberId" class="control-label"> Member on Transfer </small>
                    <div class="input-group">
                        <select id="_ChurchMemberId_MT" class="form-control text-sm" asp-for="oChurchTransfer.ChurchMemberId" asp-items="Model.lkpChurchMembers">
                            <option value="" selected disabled> Select member </option>
                        </select>

                        <button class="btn btn-light btn-sm border border-left-0" type="button" data-toggle="tooltip" data-placement="bottom" title="Lookup Member (more options)"
                                onclick="LaunchMemberLookup()">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <button id="_btnPickMembersDirect_MT" class="btn btn-light btn-sm border border-left-0" type="button" data-toggle="tooltip" data-placement="bottom" title="Load members">
                            <i class="fa fa-refresh text-black-50"></i>
                        </button>
                        <button id="_btnViewRelationMBD_MT" class="btn btn-light btn-sm border border-left-0" type="button" data-toggle="tooltip" data-placement="bottom" title="View profile"
                                onclick="AddEditCurrDataCM_rtMBD_MT()">
                            <i class="fa fa-eye text-black-50"></i>
                        </button>

                        <input id="_hdnChurchMemberId_MT" type="hidden" asp-for="oChurchTransfer.ChurchMemberId" />
                    </div>
                </div>
            </div>
             
            <div class="form-row  mb-3">
                <div class="col-md-12">
                    <small asp-for="oChurchTransfer.ChurchMemberId" class="control-label"> Member on Transfer </small>
                    <div class="input-group">
                        <input id="_strChurchMember_MT" type="text" class="form-control text-sm text-sm bg-transparent"
                               asp-for="strFromMemberFullName" aria-describedby="button-addon2" placeholder="Member-to-Transfer" disabled />
                        <button class="btn btn-light btn-sm border border-left-0" type="button" id="button-addon2"
                                onclick="ImportTargetCM(@_oAGOId, @_oCBId, '_numChurchMemberId_MT', '_strChurchMember_MT')">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </div>

                    <input id="_numChurchMemberId_MT" type="hidden" asp-for="oChurchTransfer.ChurchMemberId" />
                </div>
            </div>



            <div class="form-row  mb-5">
                <div class="col-md-12">
                    @{ var strParToCBLevelTag = !string.IsNullOrEmpty(Model.strToChurchLevel) ? "To Congregation (" + Model.strToChurchLevel + ")" : "To Congregation"; }
                    <small id="_lblToChurchBody_MT" class="font-weight-normal" asp-for="oChurchBody"><i class="fas fa-arrow-down text-success mr-1"></i> @strParToCBLevelTag  </small>
                    <div class="input-group">
                        <input id="_strToChurchBody_par_MT" type="text" class="form-control text-sm text-sm bg-transparent"
                               asp-for="strToChurchBody" aria-describedby="button-addon2" placeholder="Destination Congregation" disabled />
                        <button class="btn btn-light btn-sm border border-left-0" type="button" id="button-addon2"
                                onclick="ImportTargetCB(@_oAGOId, @_oCBId, '_numToChurchBodyId_par_MT', '_strToChurchBody_par_MT', '', '_lblToChurchBody_MT', 'Parent_Body')">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </div>

                    <input id="_numToChurchBodyId_par_MT" type="hidden" asp-for="oChurchTransfer.ToChurchBodyId" />
                </div>
            </div>


            <hr style="width:100%; border: 1px solid #b7b5b5" />

            <div class="form-row">
                <div class="col-md mb-3">
                    <small asp-for="oChurchMember.TransferType" class="control-label">Transfer Type</small>
                    <select id="_TransferType" class="form-control text-sm" asp-for="oChurchTransfer.TransferType" asp-items="Model.lkp_TransferTypes" required>
                        @*<option selected disabled value=""> Marital Status </option>*@
                    </select>
                </div>
                <div class="col-md  mb-3">
                    <small asp-for="oChurchTransfer.RequestDate" class="control-label"> Request Date </small>
                    <input type="date" class="form-control text-sm" asp-for="oChurchTransfer.RequestDate">
                </div>

                @if (Model.oChurchTransfer.ReqStatus == "Y" || Model.oChurchTransfer.ReqStatus == "C")   // transferred  or closed
                {
                    <div class="col-md-4 mb-3">
                        <small asp-for="oChurchTransfer.TransferDate" class="control-label"> Transfer Date </small>
                        <input type="date" class="form-control text-sm" asp-for="oChurchTransfer.TransferDate">
                    </div>
                }

                <div class="col-md-12 mb-3">
                    <small asp-for="oChurchTransfer.TransferReason" class="control-label"> Transfer Reason </small>
                    <input maxlength="100" type="text" class="form-control text-sm" asp-for="oChurchTransfer.TransferReason">
                </div>
            </div>

            <div class="form-row  mb-3">
                <div class="col-md">
                    <small asp-for="oChurchTransfer.CustomTransMessage" class="control-label"> Short Message to Church Leadership </small>
                    <input maxlength="100" type="text" class="form-control text-sm" asp-for="oChurchTransfer.CustomTransMessage">
                </div>
            </div>

            <div class="form-row ">
                <div class="col-md-12 mb-3">
                    <small asp-for="oChurchTransfer.CurrentScope" class="control-label"> Request Current Location: </small>

                    @{
                        if (Model.oChurchTransfer.CurrentScope == "I")
                        {
                            <input asp-for="strRequestorChurchBody" class="form-control text-sm bg-white" readonly />
                        }
                        else /*if (Model.oChurchTransfer.CurrentScope == "E")*/
                        {
                            <input asp-for="strToChurchBody" class="form-control text-sm " readonly />
                        }
                    }

                    <input type="hidden" asp-for="oChurchTransfer.CurrentScope" id="_CurrentScope" />
                </div>
            </div>

            <div class="form-row ">
                <div class="col-md mb-3">
                    <small asp-for="oChurchTransfer.CustomTransMessage" class="control-label"> Request Status </small>

                    @switch (Model.oChurchTransfer.ReqStatus)
                    {
                        case ("N"):<input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:white; color:deepskyblue" readonly />; break;
                        case ("P"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:deepskyblue; color: #fff" readonly /> ; break;
                        case ("I"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color: gold; color: #000 " readonly />; break;
                        @*case ("H"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color: darkorange; color: black" readonly />; break;*@
                        case ("A"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:green; color:#fff" readonly /> ; break;
                        @*case ("F"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:lightgreen; color:black" readonly /> ; break;*@
                        case ("D"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:mistyrose; color:firebrick" readonly /> ; break;
                        case ("X"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:gainsboro; color:#000" readonly />; break;
                        case ("R"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:lightskyblue ; color:#000" readonly />; break;

                        case ("K"):<input asp-for="strReqStatus" class="form-control" style="background-color:orange; color: #000" readonly />; break;

                        case ("T"):<input asp-for="strReqStatus" class="form-control" style="background-color:lightgreen; color: #fff" readonly />; break;
                        case ("U"): <input asp-for="strReqStatus" class="form-control" style="background-color:firebrick; color: #fff" readonly /> ; break;
                        case ("Y"): <input asp-for="strReqStatus" class="form-control" style="background-color:darkolivegreen; color:#fff " readonly />; break;

                        case ("C"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:darkgray; color: #fff " readonly /> ; break;
                        case ("Z"): <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:slategray; color: #fff " readonly /> ; break;

                        default: <input asp-for="strReqStatus" class="form-control text-center text-sm" style="background-color:#fff; color:#000" readonly />; break;
                    }

                    <input type="hidden" asp-for="oChurchTransfer.ReqStatus" id="_ReqStatus" />

                </div>

                @if (!string.IsNullOrEmpty(Model.oChurchTransfer.ApprovalStatus))
                {
                    <div class="col-md mb-3">
                        <small asp-for="oChurchTransfer.CustomTransMessage" class="control-label"> Approval Status </small>

                        @switch (Model.oChurchTransfer.ApprovalStatus)
                        {
                            @*case ("N"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:white; color:blue" disabled />; break;*@
                            case ("P"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:deepskyblue; color: white" disabled /> ; break;
                            case ("I"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:yellow; color: black " disabled />; break;
                            @*case ("H"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color: darkorange; color: black" disabled />; break;*@
                            case ("A"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:lawngreen; color:black" disabled /> ; break;
                            @*case ("F"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:lightgreen; color:black" disabled /> ; break;*@
                            case ("D"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:mistyrose; color:firebrick" disabled /> ; break;
                            case ("X"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:whitesmoke; color:black" disabled />; break;
                            case ("R"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:white ; color:deepskyblue" disabled />; break;
                            case ("C"): <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:mistyrose; color:firebrick" disabled /> ; break;

                            default: <input asp-for="strApprovalStatus" class="form-control text-center text-sm" style="background-color:white; color:black" disabled />; break;
                        }

                        <input type="hidden" asp-for="oChurchTransfer.ApprovalStatus" />

                    </div>
                }


                @if (!string.IsNullOrEmpty(Model.oChurchTransfer.ReqStatusComments))
                {
                    <div class="col-md-12 mb-3">
                        <small asp-for="oChurchTransfer.ReqStatusComments" class="control-label"> Attached Comments (Status) </small>
                        <input maxlength="100" type="text" class="form-control text-sm" asp-for="oChurchTransfer.ReqStatusComments" readonly>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.oChurchTransfer.ApprovalStatusComments))
                {
                    <div class="col-md-12 mb-3">
                        <small asp-for="oChurchTransfer.ApprovalStatusComments" class="control-label"> Approvers Comments </small>
                        <input maxlength="100" type="text" class="form-control text-sm" asp-for="oChurchTransfer.ApprovalStatusComments" readonly>
                    </div>
                }
            </div>


            <div class="form-row mb-3">
                <div class="col-md">
                    <small class="font-weight-normal" asp-for="oChurchTransfer.Comments"> General Comments </small>
                    <textarea maxlength="200" asp-for="oChurchTransfer.Comments" class="form-control text-sm" rows="3"></textarea>
                </div>
            </div>
        }



    </form>
</div>