@model RhemaCMS.Models.ViewModels.vm_cl.MemberContactInfoModel

<div id="divFormDataMPCvd_MCI" class="overlay-wrapper">
    @{ await Html.RenderPartialAsync("_vwMPCvd_MCI", Model.oMemContactInfo); }
</div>

