@model RhemaCMS.Models.ViewModels.vm_cl.MemberBioModel

    <div id="divFormDataAddModCM_BD" class="overlay-wrapper">
        @{ await Html.RenderPartialAsync("_vwAddModCM_BD", Model); }
    </div>


